:host {
  display: block;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > a {
  color: #5cb85c;
  font-family: titillium web, sans-serif;
  font-size: 1.5rem;
  padding-top: 0;
  margin-right: 2;
}
nav > ul > li {
  display: block;
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
  color: rgba(0, 0, 0, 0.3);
}
nav > ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
