:host {
  display: block;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.03);
  text-align: left;
  padding-left: 30px;

  bottom: 0;
  width: 97.5%;
}

b {
  font-family: source sans pro, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  font-family: titillium web, sans-serif;
  font-size: 1rem;
  padding-top: 0;
  margin-right: 2rem;
  color: #5cb85c;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
