:host {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 0ch;
}
b {
  font-family: source sans pro, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
}
a {
  font-family: titillium web, sans-serif;
  font-size: 1rem;
  padding-top: 0;
  margin-right: 2rem;
  color: #5cb85c;
  font-weight: bold;
  text-decoration: none;
}
