.host {
}
ul {
  float: left;
  list-style: none;
  font-family: source sans pro, sans-serif;
  font-size: 0.9rem;
  line-height: 6;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
}

li.yf > a {
  text-decoration: none;
  background: #fff !important;
  color: rgba(0, 0, 0, 0.419);
  border-radius: 0;
  border: none;
  margin-right: 2rem;
  margin-left: 10rem;
}

li.gf {
  background: #fff !important;
  color: rgba(0, 0, 0, 0.419);
  margin-right: 2rem;
}

li.pt {
  background: #fff !important;
  color: rgb(0, 0, 0);
  margin-left: 40rem;
}

li.gf:hover {
  color: #000000a4;
}

li:hover > a {
  color: #000000a4;
}
